
@font-face {
    font-family: 'padrão';
    src: url('fonts/Inter/static/Inter-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'padrão', sans-serif;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #242932;
}

header .hdc-logo {
    height: 70px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li a {
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(238, 232, 232);
    letter-spacing: 1px;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.entrar-link {
    background-color: #29b661;
    padding: 14px;
    border-radius: 5px;
}

.entrar-link:hover {
    background-color: #229450;
    transition: 0.3s;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu-options {
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('imagem/mainbanner.png') center center no-repeat;
    background-size: cover;
    height: 580px;
    margin-bottom: 7rem;
}

.home-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.527);
    padding: 12px;
    color: white;
    letter-spacing: 1px;
}

.section1 {
    display: flex;
}

.about-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
}

.item1, .item2, .item3 {
    width: 80vw;
}

.item1 img, .item2 img, .item3 img {
    height: 130px;
    margin-bottom: 10px;
}

.item1 h3, .item2 h3, .item3 h3 {
    margin-bottom: 1.5rem;
}

.item1 p, .item2 p, .item3 p {
    margin-bottom: 3rem;
}

.section2-title {
    text-align: center;
    margin-bottom: 3.5rem;
}

.section2-title h2 {
    font-size: 2.2rem;
}

.section2-title p {
    font-size: 1.1rem;
}

/******************** PRICE BOXES **************************/

.prices-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.box-items {
    text-align: center;
}

.price {
    margin: auto;
    width: 120px;
    background-color: #2DC662;
    color: #fff;
    border-radius: 50%;
    padding: 3.3rem 0px;
}

.plans-title {
    background-color: #212A34;
    color: #fff;
    padding: 3rem 0px 1rem 0px;
    width: 90vw;
}

.plans-description {
    background-color: #E8E9EA;
}

.plans-description p {
    padding: 14px 0px;
}

.saber-mais {
    display: block;
    text-decoration: none;
    background-color: #2DC662;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    width: 90vw;
    padding: 1.3rem 0px;
}

/********************* Media Queries **********************/

@media screen and (max-width: 630px) {

    .nav-list {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-options ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
    }

    .nav-itens-mobile {
        display: block;
        padding: 1.2rem 0px;
    }

    .nav-itens-mobile a {
        color: rgb(238, 232, 232);
        text-decoration: none;
    }

    .nav-itens-mobile a:hover {
        text-decoration: underline;
    }

    .open {
        display: block;
        background-color: #242932;
    }

}